Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

Add format, lint, and spec tasks with shard/bin caching
  .cirrus.yml
Due: yamlfmt

User starlark instead of yml for cirrus
  .cirrus.star
  .cirrus.yml
Due: yamlfmt

Run specs on all platfroms
  .cirrus.star
Due: none

Cleanup tasks
  .cirrus.star
Due: none

User xterm for freebsd terminfo
  .cirrus.star
Due: none

Install terminfo-db on freebsd
  .cirrus.star
Due: none

FreeBSD ports install terminfo-db to /usr/local/share/terminfo/*/* rather than the standard /usr/share/terminfo location.
  src/termisu/terminfo/database.cr
Due: format, ameba

Add gh actions back
  .github/actions/build-e2e-binaries/action.yml
  .github/actions/setup-crystal/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ameba.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
Due: yamlfmt

Run freebsd specs on cirrus only
  .cirrus.star
Due: none

Add ciruss ci simple specs task
  .cirrus.yml
Due: yamlfmt

Install expect to unbeffer tests
  .cirrus.yml
Due: yamlfmt

Remove gh actions
  .github/actions/build-e2e-binaries/action.yml
  .github/actions/setup-crystal/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ameba.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
Due: yamlfmt

Exclude shared spec files from ameba spec file name check
  .ameba.yml
Due: yamlfmt

Add TERM var to macos wf
  .github/workflows/test.yml
Due: yamlfmt

Run unit test on both darwin and linux
  .github/workflows/test.yml
Due: yamlfmt

Add cross-platform event poller with epoll, kqueue, and poll backends
  spec/shared/poller_shared_tests.cr
  spec/spec_helper.cr
  spec/termisu/event/poller_spec.cr
  src/termisu/event/poller.cr
  src/termisu/event/poller/kqueue.cr
  src/termisu/event/poller/linux.cr
  src/termisu/event/poller/poll.cr
Due: format, ameba

Fix kqueue build on macOS by removing undefined EVFILT_SIGNAL reference
  src/termisu/event/poller/kqueue.cr
Due: format, ameba

Add kqueue LibC bindings for FreeBSD
  src/termisu/event/poller/kqueue.cr
  src/termisu/lib_c/kqueue.cr
Due: format, ameba

Fix duplicate kqueue constants on FreeBSD
  src/termisu/lib_c/kqueue.cr
Due: format, ameba

Remove duplicate Kevent struct definition
  src/termisu/lib_c/kqueue.cr
Due: format, ameba

Add POLLHUP/POLLNVAL/POLLPRI constants to poll binding
  src/termisu/event/poller/poll.cr
Due: format, ameba

Skip poll() assertion on FreeBSD and document platform behavior
  spec/termisu/event/poller_spec.cr
Due: format, ameba

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
