Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

chore: bump setup crystal action
  .github/actions/setup-crystal/action.yml
Due: yamlfmt

feat(ffi): expose `Event::Preedit` over the C ABI
  include/termisu/ffi.h
  javascript/core/src/constants.ts
  javascript/core/src/structs.ts
  javascript/core/src/types.ts
  javascript/core/tests/constants.test.ts
  spec/termisu/backend_spec.cr
  spec/termisu/ffi/conversions_spec.cr
  spec/termisu/terminal_spec.cr
  src/termisu/ffi/abi.cr
  src/termisu/ffi/conversions.cr
  src/termisu/ffi/event_type.cr
  src/termisu/ffi/layout.cr
Due: format, ameba

chore(js): clamp preeditLen
  javascript/core/src/structs.ts
Due: none

bump version to 0.5.0
  shard.yml
Due: yamlfmt

fix(ci/freebsd): use libgc-threaded; bypass node@24 npm exec wrapper
  .github/workflows/e2e.yml
  Hacefile.yml
Due: yamlfmt

chore: flatten test
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

ci(freebsd): use pkg-installed mise; fix Hacefile -ldl for FreeBSD
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
  Hacefile.yml
Due: yamlfmt

fix(ci/freebsd): use BSD script for PTY, build hace, add git for npm
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

ci(freebsd): replace Cirrus with GitHub Actions FreeBSD matrix
  .cirrus.star
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

ci(freebsd): use pkg-installed crystal/shards (no upstream BSD binaries)
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

feat(testing): add Crystal-native TUI E2E harness
  .ameba.yml
  spec/e2e/__snapshots__/animation.snap.txt
  spec/e2e/__snapshots__/colors.snap.txt
  spec/e2e/__snapshots__/keyboard.snap.txt
  spec/e2e/__snapshots__/showcase.snap.txt
  spec/e2e/__snapshots__/simple.snap.txt
  spec/e2e/animation_spec.cr
  spec/e2e/colors_spec.cr
  spec/e2e/e2e_helper.cr
  spec/e2e/keyboard_spec.cr
  spec/e2e/showcase_spec.cr
  spec/e2e/simple_spec.cr
  spec/termisu/testing/pty_spec.cr
  spec/termisu/testing/screen_spec.cr
  src/termisu/testing/ctty_exec.cr
  src/termisu/testing/pty.cr
  src/termisu/testing/screen.cr
  src/termisu/testing/terminal.cr
  src/termisu/testing/testing.cr
Due: format, ameba, yamlfmt

ci(e2e): replace tui-test with the Crystal harness
  .github/actions/build-e2e-binaries/action.yml
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  Hacefile.yml
  bun.lock
  e2e/.gitignore
  e2e/biome.json
  e2e/package.json
  e2e/tests/__snapshots__/.keep
  e2e/tests/animation.test.ts
  e2e/tests/colors.test.ts
  e2e/tests/keyboard.test.ts
  e2e/tests/showcase.test.ts
  e2e/tests/simple.test.ts
  e2e/tsconfig.json
  e2e/tui-test.config.ts
  package.json
  spec/e2e/pty_spec.cr
Due: format, ameba, yamlfmt, e2e-lint, e2e-format

chore: fix sonarqube stuff
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

fix: harden e2e PTY (fd leak, shim cache, wait_stable status) and ffi:build (Darwin .dylib, multi-path -L)
  Hacefile.yml
  src/termisu/testing/pty.cr
  src/termisu/testing/terminal.cr
Due: format, ameba, yamlfmt

fix: harden the Crystal E2E harness and align CI
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  spec/e2e/e2e_helper.cr
  src/termisu/testing/pty.cr
  src/termisu/testing/terminal.cr
Due: format, ameba, yamlfmt

fix(testing): stabilize animation snapshot and harden screen access
  spec/e2e/animation_spec.cr
  spec/termisu/testing/screen_spec.cr
  src/termisu/testing/screen.cr
  src/termisu/testing/terminal.cr
Due: format, ameba

test: improve coverage
  spec/e2e/terminal_spec.cr
  spec/termisu/testing/screen_spec.cr
Due: format, ameba

test(testing): poll exit via wait_until instead of a fixed sleep; fix test-name typo
  spec/e2e/terminal_spec.cr
  spec/termisu/testing/screen_spec.cr
Due: format, ameba

arch stuff
  architecture/README.md
  architecture/core-architecture.md
  architecture/js-runtime-ffi-architecture.md
  javascript/README.md
Due: none

feat(js): streamline core/native packaging and harden native resolution
  architecture/core-architecture.md
  javascript/core/src/native.ts
  javascript/core/tests/native.test.ts
  javascript/native/darwin/arm64/README.md
  javascript/native/darwin/arm64/package.json
  javascript/native/darwin/x64/README.md
  javascript/native/darwin/x64/package.json
  javascript/native/freebsd/arm64/README.md
  javascript/native/freebsd/arm64/package.json
  javascript/native/freebsd/x64/README.md
  javascript/native/freebsd/x64/package.json
  javascript/native/linux/arm64/gnu/README.md
  javascript/native/linux/arm64/gnu/package.json
  javascript/native/linux/arm64/musl/README.md
  javascript/native/linux/arm64/musl/package.json
  javascript/native/linux/x64/gnu/README.md
  javascript/native/linux/x64/gnu/package.json
  javascript/native/linux/x64/musl/README.md
  javascript/native/linux/x64/musl/package.json
Due: none

feat(js): streamline core/native packaging and add platform-based resolution
  architecture/README.md
  architecture/js-runtime-ffi-architecture.md
  bun.lock
  javascript/README.md
  javascript/core/package.json
  javascript/core/src/native.ts
  javascript/core/tsconfig.json
  javascript/platform/package.json
  javascript/platform/src/index.ts
  javascript/platform/tsconfig.json
Due: none

remove deprecated baseUrl from shared config
  tsconfig.base.json
Due: none

fix(js): handle missing native package resolution safely
  javascript/core/src/native.ts
  javascript/platform/src/index.ts
Due: none

refactor(js): fold platform detection into core
  architecture/core-architecture.md
  architecture/js-runtime-ffi-architecture.md
  bun.lock
  javascript/README.md
  javascript/core/package.json
  javascript/core/src/native.ts
  javascript/core/src/platform.ts
  javascript/core/tests/native.test.ts
  javascript/core/tsconfig.json
  javascript/native/darwin/arm64/manifest.json
  javascript/native/darwin/arm64/package.json
  javascript/native/darwin/x64/manifest.json
  javascript/native/darwin/x64/package.json
  javascript/native/freebsd/arm64/manifest.json
  javascript/native/freebsd/arm64/package.json
  javascript/native/freebsd/x64/manifest.json
  javascript/native/freebsd/x64/package.json
  javascript/native/linux/arm64/gnu/manifest.json
  javascript/native/linux/arm64/gnu/package.json
  javascript/native/linux/arm64/musl/manifest.json
  javascript/native/linux/arm64/musl/package.json
  javascript/native/linux/x64/gnu/manifest.json
  javascript/native/linux/x64/gnu/package.json
  javascript/native/linux/x64/musl/manifest.json
  javascript/native/linux/x64/musl/package.json
  javascript/platform/.gitignore
  javascript/platform/README.md
  javascript/platform/package.json
  javascript/platform/tsconfig.json
  package.json
Due: none

fix: bench marke suite
  bench/suites/buffer_suite.cr
Due: format, ameba

fix: suppress fallback-poller timers due after an expired user deadline
  src/termisu/event/poller/poll.cr
Due: format, ameba

perf: eliminate allocations and syscalls from the render hot path
  spec/termisu/buffer_spec.cr
  spec/termisu/cell_spec.cr
  spec/termisu/input/parser_spec.cr
  spec/termisu/terminal_caching_spec.cr
  spec/termisu/terminfo/cursor_position_spec.cr
  spec/termisu/unicode_width_spec.cr
  src/termisu.cr
  src/termisu/buffer.cr
  src/termisu/cell.cr
  src/termisu/event/poller/poll.cr
  src/termisu/input/parser.cr
  src/termisu/terminal.cr
  src/termisu/terminfo.cr
  src/termisu/terminfo/tparm/conditional.cr
  src/termisu/terminfo/tparm/operations.cr
  src/termisu/terminfo/tparm/output.cr
  src/termisu/terminfo/tparm/processor.cr
  src/termisu/terminfo/tparm/variables.cr
  src/termisu/unicode_width.cr
Due: format, ameba

fix: restore Linux console F1-F5 parsing `(\e[[A..\e[[E)`
  spec/termisu/input/parser_spec.cr
  src/termisu/input/parser.cr
Due: format, ameba

chore(ci): add Crystal 1.21.0 to build matrices
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/publish-core.yml
  .github/workflows/test.yml
Due: yamlfmt

fix(event): prevent stale timer fiber surviving restart
  src/termisu/event/source/timer.cr
Due: format, ameba

fix(ffi): build shared library with -Dwithout_mt
  .github/actions/build-ffi/action.yml
  Hacefile.yml
Due: yamlfmt

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
