Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt

lefthook.yml:

# Lefthook configuration for Termisu
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: bin/hace format
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/hace ameba
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true

Cleanup Hacefile
  Hacefile.yml
Due: yamlfmt

Update Contributing md file
  CONTRIBUTING.md
Due: none

Replace task-go with hace
  .github/actions/setup-crystal/action.yml
  .github/workflows/ameba.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Hacefile.yml
  Taskfile.yml
  lefthook.yml
  shard.yml
Due: yamlfmt

Cleanup gha
  .github/actions/setup-crystal/action.yml
  .github/workflows/ameba.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: yamlfmt

Add Strikethrough attribute support
  README.md
  bench/suites/buffer_suite.cr
  examples/showcase.cr
  examples/simple.cr
  spec/support/mock_renderers.cr
  spec/termisu/attribute_spec.cr
  spec/termisu/render_state_spec.cr
  spec/termisu/terminfo/builtin_spec.cr
  src/termisu/attribute.cr
  src/termisu/render_state.cr
  src/termisu/renderer.cr
  src/termisu/terminal.cr
  src/termisu/terminfo.cr
  src/termisu/terminfo/builtin.cr
  src/termisu/terminfo/capabilities.cr
Due: format, ameba

Add Italic alias for Cursive
  README.md
  examples/showcase.cr
  spec/termisu/attribute_spec.cr
  src/termisu/attribute.cr
Due: format, ameba

Bump version to 0.1.0
  shard.yml
Due: yamlfmt

Update README.md
  README.md
Due: none

Add test coverage via kcov and codecov integration
  .github/workflows/coverage.yml
  .gitignore
  CONTRIBUTING.md
  run_specs.cr
Due: format, ameba, yamlfmt

Fix coverage gha
  .github/workflows/coverage.yml
Due: yamlfmt

Dont install shards in coverage action
  .github/workflows/coverage.yml
Due: yamlfmt

Add -v flag to CI spec run
  .github/workflows/test.yml
Due: yamlfmt

Create bin dir in coverage gha
  .github/workflows/coverage.yml
Due: yamlfmt

Fix typo in README
  README.md
Due: none

Add codecov badge to readme
  README.md
Due: none

Fix logo alignment in README
  README.md
Due: none

Add unbuffer to CI for PTY-based terminal testing
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: yamlfmt

Rewrite TTY/Backend/Terminal tests to use real PTY via unbuffer
  spec/termisu/backend_spec.cr
  spec/termisu/terminal_spec.cr
  spec/termisu/tty_spec.cr
Due: format, ameba

Cleanup specs
  spec/termisu/backend_spec.cr
  spec/termisu/reader_spec.cr
  spec/termisu/terminal_spec.cr
  spec/termisu/termios_spec.cr
  spec/termisu/tty_spec.cr
Due: format, ameba

Set TERM=xterm-256color in coverage gha
  .github/workflows/coverage.yml
Due: yamlfmt

Add full_cooked mode test
  spec/termisu/terminal/mode_spec.cr
Due: format, ameba

Add mode api docs in README.md
  README.md
Due: none

Add terminal mode enum
  spec/termisu/terminal/mode_spec.cr
  src/termisu/terminal/mode.cr
Due: format, ameba

Add Terminal::Mode switching API with event loop coordination
  spec/termisu/backend_spec.cr
  spec/termisu/terminal_spec.cr
  spec/termisu/termios_spec.cr
  src/termisu.cr
  src/termisu/terminal.cr
  src/termisu/terminal/backend.cr
  src/termisu/termios.cr
Due: format, ameba

Fix readme
  README.md
Due: none

Fix TUI redraw after mode switches by adding buffer invalidation for all non-raw modes
  spec/termisu/buffer_spec.cr
  src/termisu.cr
  src/termisu/buffer.cr
  src/termisu/terminal.cr
Due: format, ameba

Add extended mode flags, full_cooked preset, suspend alias, and ModeChange event
  src/termisu.cr
  src/termisu/event.cr
  src/termisu/event/mode_change.cr
  src/termisu/terminal/mode.cr
  src/termisu/termios.cr
Due: format, ameba
