Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

improve test coverage
  Hacefile.yml
  spec/termisu/ffi_runtime_spec.cr
  spec/termisu/reader_spec.cr
Due: format, ameba, yamlfmt

bump version to 0.4.4
  shard.yml
Due: yamlfmt

loosen crystal lang version req
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  shard.yml
Due: yamlfmt

update e2e matrix
  .github/workflows/e2e.yml
Due: yamlfmt

bump version to 0.4.5
  shard.yml
Due: yamlfmt

update README.md
  README.md
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/e2e.yml
Due: yamlfmt

remove deprecated baseUrl from shared config
  tsconfig.base.json
Due: none

arch stuff
  architecture/README.md
  architecture/core-architecture.md
  architecture/js-runtime-ffi-architecture.md
  javascript/README.md
Due: none

feat(js): streamline core/native packaging and add platform-based resolution
  architecture/README.md
  architecture/js-runtime-ffi-architecture.md
  bun.lock
  javascript/README.md
  javascript/core/package.json
  javascript/core/src/native.ts
  javascript/core/tsconfig.json
  javascript/platform/package.json
  javascript/platform/src/index.ts
  javascript/platform/tsconfig.json
Due: none

fix(js): handle missing native package resolution safely
  javascript/core/src/native.ts
  javascript/platform/src/index.ts
Due: none

feat(js): streamline core/native packaging and harden native resolution
  architecture/core-architecture.md
  javascript/core/src/native.ts
  javascript/core/tests/native.test.ts
  javascript/native/darwin/arm64/README.md
  javascript/native/darwin/arm64/package.json
  javascript/native/darwin/x64/README.md
  javascript/native/darwin/x64/package.json
  javascript/native/freebsd/arm64/README.md
  javascript/native/freebsd/arm64/package.json
  javascript/native/freebsd/x64/README.md
  javascript/native/freebsd/x64/package.json
  javascript/native/linux/arm64/gnu/README.md
  javascript/native/linux/arm64/gnu/package.json
  javascript/native/linux/arm64/musl/README.md
  javascript/native/linux/arm64/musl/package.json
  javascript/native/linux/x64/gnu/README.md
  javascript/native/linux/x64/gnu/package.json
  javascript/native/linux/x64/musl/README.md
  javascript/native/linux/x64/musl/package.json
Due: none

refactor(js): fold platform detection into core
  architecture/core-architecture.md
  architecture/js-runtime-ffi-architecture.md
  javascript/README.md
  javascript/core/package.json
  javascript/core/src/native.ts
  javascript/core/src/platform.ts
  javascript/core/tests/native.test.ts
  javascript/core/tsconfig.json
  javascript/native/darwin/arm64/manifest.json
  javascript/native/darwin/arm64/package.json
  javascript/native/darwin/x64/manifest.json
  javascript/native/darwin/x64/package.json
  javascript/native/freebsd/arm64/manifest.json
  javascript/native/freebsd/arm64/package.json
  javascript/native/freebsd/x64/manifest.json
  javascript/native/freebsd/x64/package.json
  javascript/native/linux/arm64/gnu/manifest.json
  javascript/native/linux/arm64/gnu/package.json
  javascript/native/linux/arm64/musl/manifest.json
  javascript/native/linux/arm64/musl/package.json
  javascript/native/linux/x64/gnu/manifest.json
  javascript/native/linux/x64/gnu/package.json
  javascript/native/linux/x64/musl/manifest.json
  javascript/native/linux/x64/musl/package.json
  javascript/platform/README.md
  javascript/platform/package.json
  javascript/platform/tsconfig.json
Due: none

ci(freebsd): replace Cirrus with GitHub Actions FreeBSD matrix
  .cirrus.star
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

chore: flatten test
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

chore: add crystal 1.20.0 to gha wf
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/publish-core.yml
  .github/workflows/test.yml
Due: yamlfmt

ci(freebsd): use pkg-installed mise; fix Hacefile -ldl for FreeBSD
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
  Hacefile.yml
Due: yamlfmt

ci(freebsd): use pkg-installed crystal/shards (no upstream BSD binaries)
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

fix(ci/freebsd): use BSD script for PTY, build hace, add git for npm
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .github/workflows/test.yml
Due: yamlfmt

fix(ci/freebsd): use libgc-threaded; bypass node@24 npm exec wrapper
  .github/workflows/e2e.yml
  Hacefile.yml
Due: yamlfmt

refactor(input): lean on stdlib for UTF-8 decode and codepoint validation
  src/termisu/input/parser.cr
Due: format, ameba

refactor(input): satisfy cyclomatic complexity and drop redundant getter
  src/termisu/event.cr
  src/termisu/event/key.cr
  src/termisu/input/parser.cr
Due: format, ameba

feat(ffi): expose `Event::Preedit` over the C ABI
  include/termisu/ffi.h
  javascript/core/src/constants.ts
  javascript/core/src/structs.ts
  javascript/core/src/types.ts
  javascript/core/tests/constants.test.ts
  spec/termisu/backend_spec.cr
  spec/termisu/ffi/conversions_spec.cr
  spec/termisu/terminal_spec.cr
  src/termisu/ffi/abi.cr
  src/termisu/ffi/conversions.cr
  src/termisu/ffi/event_type.cr
  src/termisu/ffi/layout.cr
Due: format, ameba

chore(js): clamp preeditLen
  javascript/core/src/structs.ts
Due: none

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
