Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt

lefthook.yml:

# Lefthook configuration for Termisu
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: task format
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: task ameba
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true

Add githooks on precommit and yamlfmt
  .ameba.yml
  .github/workflows/pages.yml
  Taskfile.yml
  lefthook.yml
  shard.yml
Due: yamlfmt

only run pages action if code changes
  .github/workflows/pages.yml
Due: yamlfmt

Use ameba gh action
  .github/workflows/test.yml
Due: yamlfmt

fix gha perms
  .github/workflows/test.yml
Due: yamlfmt

Add typed ParseError with validation for terminfo parser
  spec/support/mock_helpers.cr
  spec/termisu/terminfo/parser_spec.cr
  src/termisu/error.cr
  src/termisu/terminfo/parser.cr
Due: format, ameba

improve gha
  .github/actions/setup-crystal/action.yml
  .github/workflows/ameba.yml
  .github/workflows/format.yml
Due: yamlfmt

Clamp cursor position to buffer bounds on resize and set_cursor
  spec/termisu/buffer_spec.cr
  spec/termisu/cursor_spec.cr
  src/termisu/buffer.cr
  src/termisu/cursor.cr
Due: format, ameba

add some benchmark tasks
  .gitignore
  Taskfile.yml
  bench/bench_runner.cr
  bench/run.cr
  bench/suites/buffer_suite.cr
  bench/suites/color_suite.cr
  bench/suites/parser_suite.cr
Due: format, ameba, yamlfmt

Add EINTR retry logic to Reader with IOError class and pipe-based tests
  spec/termisu/error_spec.cr
  spec/termisu/reader_spec.cr
  src/termisu/error.cr
  src/termisu/reader.cr
Due: format, ameba

Add RenderState for optimized attribute rendering with cell batching
  spec/termisu/buffer_spec.cr
  spec/termisu/render_state_spec.cr
  src/termisu/buffer.cr
  src/termisu/render_state.cr
Due: format, ameba

Cleanup code
  examples/colors.cr
  examples/demo.cr
  examples/simple.cr
  spec/termisu/backend_spec.cr
  spec/termisu/buffer_spec.cr
  spec/termisu/cursor_spec.cr
  spec/termisu/terminfo_spec.cr
  src/termisu.cr
  src/termisu/backend.cr
  src/termisu/buffer.cr
  src/termisu/cursor.cr
  src/termisu/renderer.cr
  src/termisu/terminal.cr
  src/termisu/terminal/backend.cr
  src/termisu/terminfo.cr
Due: format, ameba

update README.md
  README.md
Due: none

fix merge conflicts
  spec/termisu/buffer_spec.cr
  spec/termisu/render_state_spec.cr
  src/termisu/buffer.cr
  src/termisu/render_state.cr
Due: format, ameba

clear alt screen before enter
  src/termisu/terminal.cr
Due: format, ameba

fix benchs
  bench/suites/buffer_suite.cr
Due: format, ameba

term attr caching
  spec/termisu/terminal_caching_spec.cr
  src/termisu/terminal.cr
Due: format, ameba

Implement tparm to processes terminfo capability strings
  spec/termisu/terminfo/builtin_spec.cr
  spec/termisu/terminfo/tparm_spec.cr
  spec/termisu/terminfo_spec.cr
  src/termisu/terminal.cr
  src/termisu/terminfo.cr
  src/termisu/terminfo/builtin.cr
  src/termisu/terminfo/capabilities.cr
  src/termisu/terminfo/tparm.cr
  src/termisu/terminfo/tparm/operations.cr
  src/termisu/terminfo/tparm/processor.cr
Due: format, ameba

Refactor tparm processor into focused modules
  spec/termisu/terminfo/tparm_spec.cr
  src/termisu/terminfo/tparm/conditional.cr
  src/termisu/terminfo/tparm/operations.cr
  src/termisu/terminfo/tparm/output.cr
  src/termisu/terminfo/tparm/processor.cr
  src/termisu/terminfo/tparm/variables.cr
Due: format, ameba

Add parametrized cursor movement and line editing capabilities
  spec/termisu/terminfo/builtin_spec.cr
  spec/termisu/terminfo_spec.cr
  src/termisu/terminfo.cr
  src/termisu/terminfo/builtin.cr
  src/termisu/terminfo/capabilities.cr
Due: format, ameba

Add extended attribute support (dim, italic, hidden) with SGR 2/3/8
  spec/termisu/backend_spec.cr
  spec/termisu/buffer_spec.cr
  spec/termisu/render_state_spec.cr
  spec/termisu/terminal_caching_spec.cr
  spec/termisu/terminfo/builtin_spec.cr
  spec/termisu/terminfo_spec.cr
  src/termisu/render_state.cr
  src/termisu/renderer.cr
  src/termisu/terminal.cr
  src/termisu/terminfo.cr
  src/termisu/terminfo/builtin.cr
  src/termisu/terminfo/capabilities.cr
Due: format, ameba

Extract mock renderers to support
  spec/spec_helper.cr
  spec/support/mock_renderers.cr
  spec/termisu/backend_spec.cr
  spec/termisu/buffer_spec.cr
  spec/termisu/render_state_spec.cr
  spec/termisu/terminal_caching_spec.cr
Due: format, ameba

Add showcase and update README.md
  README.md
  assets/demo-screenshot.png
  examples/showcase.cr
Due: format, ameba

Add logging
  src/termisu.cr
  src/termisu/buffer.cr
  src/termisu/log.cr
  src/termisu/reader.cr
  src/termisu/terminal.cr
  src/termisu/terminfo.cr
  src/termisu/terminfo/database.cr
Due: format, ameba

Add logging defaults
  src/termisu/log.cr
Due: format, ameba

Add contributing.md and update readme
  CONTRIBUTING.md
  README.md
Due: none
