Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

Add C and TypeScript FFI tests with dedicated CI workflow
  .clang-tidy
  .github/workflows/ffi-bindings.yml
  Hacefile.yml
  javascript/biome.json
  javascript/package.json
  javascript/tests/ffi.test.ts
  src/termisu/ffi/exports.cr
  tests/c/ffi_test.c
Due: format, ameba, yamlfmt

Harden FFI ABI layout handling and matrix CI coverage
  .github/actions/build-ffi/action.yml
  .github/workflows/ffi-bindings.yml
  Hacefile.yml
  include/termisu/ffi.h
  javascript/src/color.ts
  javascript/src/native.ts
  src/termisu/ffi/conversions.cr
  tests/c/ffi_test.c
Due: format, ameba, yamlfmt

fix ci
  .github/workflows/ffi-bindings.yml
Due: yamlfmt

Harden FFI runtime safety and validate JS/native ABI layouts
  .github/actions/build-ffi/action.yml
  .github/workflows/ffi-bindings.yml
  Hacefile.yml
  include/termisu/ffi.h
  javascript/README.md
  javascript/bun.lock
  javascript/package.json
  javascript/src/attribute.ts
  javascript/src/color.ts
  javascript/src/constants.ts
  javascript/src/native.ts
  javascript/src/termisu.ts
  javascript/src/types.ts
  javascript/tsconfig.json
  src/termisu/ffi.cr
  src/termisu/ffi/context.cr
  src/termisu/ffi/core.cr
  src/termisu/ffi/exports.cr
  src/termisu/ffi/layout.cr
  src/termisu/ffi/runtime.cr
Due: format, ameba, yamlfmt

Harden FFI ABI layout safety and tighten JS native wrapper semantics
  include/termisu/ffi.h
  javascript/src/color.ts
  javascript/src/native.ts
  javascript/src/types.ts
  src/termisu/ffi/conversions.cr
  src/termisu/ffi/runtime.cr
  tests/c/ffi_test.c
Due: format, ameba

Update Hacefile
  Hacefile.yml
Due: yamlfmt

Add @termisu/core Bun FFI package with Biome tooling
  javascript/.gitignore
  javascript/LICENSE
  javascript/README.md
  javascript/biome.json
  javascript/bun.lock
  javascript/examples/basic.ts
  javascript/package.json
  javascript/src/attribute.ts
  javascript/src/color.ts
  javascript/src/constants.ts
  javascript/src/errors.ts
  javascript/src/index.ts
  javascript/src/native.ts
  javascript/src/structs.ts
  javascript/src/termisu.ts
  javascript/src/types.ts
  javascript/tsconfig.json
Due: none

test: expand JS and Crystal FFI coverage for edge cases
  javascript/package.json
  javascript/tests/attribute.test.ts
  javascript/tests/color.test.ts
  javascript/tests/constants.test.ts
  javascript/tests/errors.test.ts
  javascript/tests/ffi.test.ts
  javascript/tests/index.test.ts
  javascript/tests/native.test.ts
  javascript/tests/structs.test.ts
  javascript/tests/termisu.test.ts
  spec/termisu/ffi/conversions_spec.cr
  spec/termisu/ffi/error_state_spec.cr
  spec/termisu/ffi/guards_spec.cr
  spec/termisu/ffi_spec.cr
Due: format, ameba

test: address PR feedback for edge-case assertions
  javascript/tests/structs.test.ts
  javascript/tests/termisu.test.ts
  spec/termisu/ffi_spec.cr
Due: format, ameba

test: tighten termisu setCell pointer and guard assertions
  javascript/tests/termisu.test.ts
Due: none

add sonarqube action
  .github/workflows/sonarqube.yml
Due: yamlfmt

chore: migrate JS tooling to root Bun workspace and reorder interop docs
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  .github/workflows/ffi-bindings.yml
  .gitignore
  Hacefile.yml
  README.md
  biome.json
  bun.lock
  e2e/.npmrc
  e2e/biome.json
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/tsconfig.json
  javascript/biome.json
  javascript/bun.lock
  javascript/package.json
  javascript/tsconfig.json
  package.json
  tsconfig.base.json
Due: yamlfmt

ci: configure SonarCloud project key and organization
  .github/workflows/sonarqube.yml
Due: yamlfmt

ci: disable CFamily scan and exclude binary assets in Sonar
  .github/workflows/sonarqube.yml
Due: yamlfmt

Make js:test library path OS-aware and simplify e2e tsconfig
  Hacefile.yml
  e2e/tsconfig.json
Due: yamlfmt

Align e2e runtime to Node 25.7.0 and add Bun to mise
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  e2e/package.json
  mise.toml
Due: yamlfmt

Run e2e tests with Node 24 to match tui-test pty ABI
  e2e/package.json
Due: none

Harden Sonar workflow for forks and pin action SHAs
  .github/workflows/sonarqube.yml
Due: yamlfmt

remove gaurd
  .github/workflows/sonarqube.yml
Due: yamlfmt

Use npm exec for Node 24 in e2e test scripts
  e2e/package.json
Due: none

Trust node-pty in Bun and make e2e native addon explicit
  bun.lock
  e2e/package.json
  package.json
Due: none

Resolve SonarCloud maintainability and reliability findings
  docs-web/static/css/style.css
  docs-web/static/reference/config/index.html
  docs-web/templates/footer.html
  docs-web/templates/header.html
  docs-web/templates/page.html
  docs-web/templates/section.html
  e2e/tests/animation.test.ts
  e2e/tests/colors.test.ts
  javascript/src/attribute.ts
  javascript/src/index.ts
  javascript/src/native.ts
  javascript/src/structs.ts
  javascript/src/termisu.ts
  javascript/src/types.ts
Due: e2e-lint, e2e-format

Address PR feedback and disable Sonar coverage gating
  .github/workflows/sonarqube.yml
  docs-web/static/css/style.css
  docs-web/static/reference/config/index.html
  docs-web/templates/footer.html
  e2e/tests/animation.test.ts
  javascript/src/structs.ts
Due: yamlfmt, e2e-lint, e2e-format

Refine docs templates and stabilize animation polling
  docs-web/templates/docs_shell.html
  docs-web/templates/footer.html
  docs-web/templates/page.html
  docs-web/templates/section.html
  e2e/tests/animation.test.ts
Due: e2e-lint, e2e-format

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
