Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

fix(ffi): move bdwgc suspend signals off SIGPWR on Linux
  src/termisu/ffi/runtime.cr
Due: format, ameba

fix(ffi): use atomic spinlock for registry handle table
  src/termisu/ffi/registry.cr
Due: format, ameba

fix(event): test CAS success flag in advance_run_token
  src/termisu/event/source/system_timer.cr
  src/termisu/event/source/timer.cr
Due: format, ameba

test(event): pin CAS retry contract in advance_run_token
  spec/termisu/event/source/system_timer_spec.cr
  spec/termisu/event/source/timer_spec.cr
Due: format, ameba

fix(ffi): address batch review feedback
  spec/support/capture_terminal.cr
  spec/termisu/event/source/input_spec.cr
  spec/termisu/ffi_spec.cr
  spec/termisu/terminal/apply_sgr_spec.cr
  spec/termisu/testing/terminal_spec.cr
  src/termisu/ffi/core.cr
  src/termisu/ffi/error_state.cr
  src/termisu/ffi/registry.cr
  src/termisu/terminfo.cr
Due: format, ameba

style(js): apply sonar suggestions on scratch helpers and batch test
  javascript/core/src/termisu.ts
  javascript/core/tests/termisu.test.ts
Due: none

test: mirror renderer specs and observe idle-loop shutdown
  spec/termisu/event/source/input_spec.cr
  spec/termisu/renderer_spec.cr
  spec/termisu/terminal/apply_sgr_spec.cr
Due: format, ameba

test: cover styled setCells marshaling and annotate stub predicate
  javascript/core/tests/termisu.test.ts
  spec/termisu/terminal/apply_sgr_spec.cr
Due: format, ameba

feat(js): streamline core/native packaging and add platform-based resolution
  architecture/README.md
  architecture/js-runtime-ffi-architecture.md
  bun.lock
  javascript/README.md
  javascript/core/package.json
  javascript/core/src/native.ts
  javascript/core/tsconfig.json
  javascript/platform/package.json
  javascript/platform/src/index.ts
  javascript/platform/tsconfig.json
Due: none

arch stuff
  architecture/README.md
  architecture/core-architecture.md
  architecture/js-runtime-ffi-architecture.md
  javascript/README.md
Due: none

remove deprecated baseUrl from shared config
  tsconfig.base.json
Due: none

refactor(js): fold platform detection into core
  architecture/core-architecture.md
  architecture/js-runtime-ffi-architecture.md
  bun.lock
  javascript/README.md
  javascript/core/package.json
  javascript/core/src/native.ts
  javascript/core/src/platform.ts
  javascript/core/tests/native.test.ts
  javascript/core/tsconfig.json
  javascript/native/darwin/arm64/manifest.json
  javascript/native/darwin/arm64/package.json
  javascript/native/darwin/x64/manifest.json
  javascript/native/darwin/x64/package.json
  javascript/native/freebsd/arm64/manifest.json
  javascript/native/freebsd/arm64/package.json
  javascript/native/freebsd/x64/manifest.json
  javascript/native/freebsd/x64/package.json
  javascript/native/linux/arm64/gnu/manifest.json
  javascript/native/linux/arm64/gnu/package.json
  javascript/native/linux/arm64/musl/manifest.json
  javascript/native/linux/arm64/musl/package.json
  javascript/native/linux/x64/gnu/manifest.json
  javascript/native/linux/x64/gnu/package.json
  javascript/native/linux/x64/musl/manifest.json
  javascript/native/linux/x64/musl/package.json
  javascript/platform/.gitignore
  javascript/platform/README.md
  javascript/platform/package.json
  javascript/platform/tsconfig.json
  package.json
Due: none

fix(js): handle missing native package resolution safely
  javascript/core/src/native.ts
  javascript/platform/src/index.ts
Due: none

feat(js): streamline core/native packaging and harden native resolution
  architecture/core-architecture.md
  javascript/core/src/native.ts
  javascript/core/tests/native.test.ts
  javascript/native/darwin/arm64/README.md
  javascript/native/darwin/arm64/package.json
  javascript/native/darwin/x64/README.md
  javascript/native/darwin/x64/package.json
  javascript/native/freebsd/arm64/README.md
  javascript/native/freebsd/arm64/package.json
  javascript/native/freebsd/x64/README.md
  javascript/native/freebsd/x64/package.json
  javascript/native/linux/arm64/gnu/README.md
  javascript/native/linux/arm64/gnu/package.json
  javascript/native/linux/arm64/musl/README.md
  javascript/native/linux/arm64/musl/package.json
  javascript/native/linux/x64/gnu/README.md
  javascript/native/linux/x64/gnu/package.json
  javascript/native/linux/x64/musl/README.md
  javascript/native/linux/x64/musl/package.json
Due: none

fix(ci): unbreak shards install on Crystal 1.21
  .github/actions/setup-crystal/action.yml
  Hacefile.yml
  shard.yml
  spec/termisu/input/parser_spec.cr
  spec/termisu/terminfo/database_spec.cr
  spec/termisu/terminfo/parser_spec.cr
  spec/termisu/terminfo_spec.cr
  spec/termisu_spec.cr
Due: format, ameba, yamlfmt

test(terminal): assert the mouse suspend emits nothing when mouse was off
  spec/termisu/terminal_spec.cr
Due: format, ameba

test: stop specs from swallowing failures as unavailable terminfo
  spec/support/terminfo_helpers.cr
  spec/termisu/terminfo/database_spec.cr
  spec/termisu/terminfo/parser_spec.cr
  spec/termisu/terminfo_spec.cr
  spec/termisu_spec.cr
Due: format, ameba

test: pin TERM before declaration-time gates and make the extended-format example assert
  spec/support/terminfo_helpers.cr
  spec/termisu/terminfo/parser_spec.cr
  spec/termisu/terminfo_spec.cr
Due: format, ameba

fix(input): drop the libm dependency from the paste probe timeout
  src/termisu/input/parser.cr
Due: format, ameba

feat(ffi): expose bracketed paste and the input-mode queries over the C ABI
  KNOWN_ISSUES.md
  KNOWN_ISSUES_REVIEW.md
  PROJECT_INDEX.json
  PROJECT_INDEX.md
  TODO.md
  WIDECHAR_PLAN.md
  bench/BENCHMARK_IMPROVEMENT_PLAN.md
  docs-web/content/guide/mouse-keyboard.md
  include/termisu/ffi.h
  javascript/core/src/native.ts
  javascript/core/src/termisu.ts
  javascript/core/tests/termisu.test.ts
  llms.txt
  spec/termisu/ffi_spec.cr
  src/termisu/ffi/core.cr
  src/termisu/ffi/exports.cr
  thoughts/CODE_REVIEW_2026-05.md
  thoughts/plans/internal-poll-binding-compatibility.md
  thoughts/plans/js-e2e-parity-plan.md
  thoughts/plans/js-release-readiness.md
Due: format, ameba

feat(ffi): expose bracketed paste and input mode queries over the C ABI
  include/termisu/ffi.h
  javascript/core/src/native.ts
  javascript/core/src/termisu.ts
  javascript/core/tests/termisu.test.ts
  spec/termisu/ffi_spec.cr
  src/termisu/ffi/core.cr
  src/termisu/ffi/exports.cr
Due: format, ameba

fix(input): keep exact millisecond waits from rounding up
  spec/termisu/ffi_spec.cr
  spec/termisu/input/parser_spec.cr
  src/termisu/input/parser.cr
Due: format, ameba

bump version to 0.6.2
  shard.yml
Due: yamlfmt

fix(build): link libiconv explicitly for the macOS ffi dylib
  Hacefile.yml
Due: yamlfmt

fix: make tty close idempotent
  spec/termisu/tty_spec.cr
  src/termisu/tty.cr
Due: format, ameba

fix: enforce input parser deadlines
  spec/termisu/input/parser_spec.cr
  spec/termisu/reader_spec.cr
  src/termisu/input/parser.cr
  src/termisu/reader.cr
Due: format, ameba

fix: correct zero-valued flag checks
  README.md
  docs-web/content/guide/modifiers.md
  spec/e2e/__snapshots__/showcase.snap.txt
  spec/termisu/attribute_spec.cr
  spec/termisu/event/key_spec.cr
  spec/termisu/event/mouse_spec.cr
  spec/termisu/input/modifier_spec.cr
  spec/termisu/input/parser_spec.cr
  spec/termisu/terminal/mode_spec.cr
  spec/termisu/terminal_spec.cr
  spec/termisu/testing/screen_spec.cr
  spec/termisu_spec.cr
  src/termisu.cr
  src/termisu/terminal.cr
  src/termisu/testing/screen.cr
Due: format, ameba

fix: preserve bracketed paste boundaries
  spec/termisu/event/source/input_spec.cr
Due: format, ameba

fix: preserve render state on failure
  spec/termisu/buffer_spec.cr
  spec/termisu/render_state_spec.cr
  spec/termisu/terminal/sync_update_spec.cr
  spec/termisu/terminal_caching_spec.cr
  src/termisu/buffer.cr
  src/termisu/render_state.cr
  src/termisu/terminal.cr
  src/termisu/terminal/cursor.cr
Due: format, ameba

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
