Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

fix(event, reader): verify 7 code review findings and fix ModeChange predicate bug
  Auto Run Docs/Initiation/Phase-01-Critical-Safety-Fixes.md
  Auto Run Docs/Initiation/Phase-02-Poller-Consistency.md
  Auto Run Docs/Initiation/Phase-03-Signal-And-Mode-Robustness.md
  Auto Run Docs/Initiation/Phase-04-Unicode-Width-And-Mode-Change.md
  Auto Run Docs/Initiation/Phase-05-Regression-Tests-And-Verification.md
  codex-bug-findings.md
  spec/shared/poller_shared_tests.cr
  spec/termisu/event/mode_change_spec.cr
  spec/termisu/event/poller_spec.cr
  spec/termisu/reader_spec.cr
  spec/termisu/terminal/backend_spec.cr
  spec/termisu/terminal/sync_update_spec.cr
  src/termisu/event/mode_change.cr
  src/termisu/event/source/resize.cr
  src/termisu/reader.cr
  src/termisu/unicode_width.cr
Due: format, ameba

bump version to 0.4.0
  shard.yml
Due: yamlfmt

Update README.md
  README.md
Due: none

fix base url
  Hacefile.yml
  docs-web/config.toml
  docs-web/content/reference/cli.md
  docs-web/templates/404.html
  docs-web/templates/header.html
  docs-web/templates/header_nav.html
  docs-web/templates/index.html
  docs-web/templates/page.html
  docs-web/templates/section.html
  netlify.toml
Due: yamlfmt

make it mobile and fix the aside
  docs-web/static/css/style.css
  docs-web/templates/footer.html
  docs-web/templates/header_nav.html
  docs-web/templates/index.html
  docs-web/templates/page.html
  docs-web/templates/section.html
Due: none

fix og png
  docs-web/static/images/og-default.png
Due: none

link to hwaro in site footer
  docs-web/static/css/style.css
  docs-web/templates/footer.html
Due: none

add txt search to site
  docs-web/static/css/style.css
  docs-web/templates/footer.html
  docs-web/templates/header_nav.html
Due: none

Improve event loop throughput and timer backpressure handling
  spec/termisu/event/source/system_timer_spec.cr
  spec/termisu/event/source/timer_spec.cr
  src/termisu/buffer.cr
  src/termisu/cell.cr
  src/termisu/event/source/input.cr
  src/termisu/event/source/system_timer.cr
  src/termisu/event/source/timer.cr
  src/termisu/event/tick.cr
Due: format, ameba

Harden SystemTimer restart ownership and align tick docs
  src/termisu/event/source/system_timer.cr
  src/termisu/event/tick.cr
Due: format, ameba

bump version to 0.4.1
  shard.yml
Due: yamlfmt

update README
  README.md
Due: none

Add stable FFI C ABI with runtime bootstrap and C tooling configs
  .clang-format
  .clang-tidy
  examples/c/basic.c
  include/termisu/ffi.h
  spec/termisu/ffi_spec.cr
  src/termisu/ffi.cr
  src/termisu/ffi/abi.cr
  src/termisu/ffi/color_mode.cr
  src/termisu/ffi/context.cr
  src/termisu/ffi/conversions.cr
  src/termisu/ffi/core.cr
  src/termisu/ffi/error_state.cr
  src/termisu/ffi/event_type.cr
  src/termisu/ffi/exports.cr
  src/termisu/ffi/guards.cr
  src/termisu/ffi/registry.cr
  src/termisu/ffi/runtime.cr
  src/termisu/ffi/status.cr
  src/termisu/ffi/version.cr
Due: format, ameba

Add @termisu/core Bun FFI package with Biome tooling
  javascript/.gitignore
  javascript/LICENSE
  javascript/README.md
  javascript/biome.json
  javascript/bun.lock
  javascript/examples/basic.ts
  javascript/package.json
  javascript/src/attribute.ts
  javascript/src/color.ts
  javascript/src/constants.ts
  javascript/src/errors.ts
  javascript/src/index.ts
  javascript/src/native.ts
  javascript/src/structs.ts
  javascript/src/termisu.ts
  javascript/src/types.ts
  javascript/tsconfig.json
Due: none

Update Hacefile
  Hacefile.yml
Due: yamlfmt

Update README
  README.md
Due: none

Add C and TypeScript FFI tests with dedicated CI workflow
  .clang-tidy
  .github/workflows/ffi-bindings.yml
  Hacefile.yml
  javascript/biome.json
  javascript/package.json
  javascript/tests/ffi.test.ts
  src/termisu/ffi/exports.cr
  tests/c/ffi_test.c
Due: format, ameba, yamlfmt

fix ci
  .github/workflows/ffi-bindings.yml
Due: yamlfmt

Harden FFI runtime safety and validate JS/native ABI layouts
  .github/actions/build-ffi/action.yml
  .github/workflows/ffi-bindings.yml
  Hacefile.yml
  include/termisu/ffi.h
  javascript/README.md
  javascript/bun.lock
  javascript/package.json
  javascript/src/attribute.ts
  javascript/src/color.ts
  javascript/src/constants.ts
  javascript/src/native.ts
  javascript/src/termisu.ts
  javascript/src/types.ts
  javascript/tsconfig.json
  src/termisu/ffi.cr
  src/termisu/ffi/context.cr
  src/termisu/ffi/core.cr
  src/termisu/ffi/exports.cr
  src/termisu/ffi/layout.cr
  src/termisu/ffi/runtime.cr
Due: format, ameba, yamlfmt

Harden FFI ABI layout safety and tighten JS native wrapper semantics
  include/termisu/ffi.h
  javascript/src/color.ts
  javascript/src/native.ts
  javascript/src/types.ts
  src/termisu/ffi/conversions.cr
  src/termisu/ffi/runtime.cr
  tests/c/ffi_test.c
Due: format, ameba

Harden FFI ABI layout handling and matrix CI coverage
  .github/actions/build-ffi/action.yml
  .github/workflows/ffi-bindings.yml
  Hacefile.yml
  include/termisu/ffi.h
  javascript/src/color.ts
  javascript/src/native.ts
  src/termisu/ffi/conversions.cr
  tests/c/ffi_test.c
Due: format, ameba, yamlfmt

Harden FFI runtime bootstrap and per-thread error handling
  javascript/README.md
  src/termisu/ffi/context.cr
  src/termisu/ffi/core.cr
  src/termisu/ffi/error_state.cr
  src/termisu/ffi/runtime.cr
Due: format, ameba

Fix FFI resize old-dim encoding and macOS shared library build
  .github/actions/build-ffi/action.yml
  src/termisu/ffi/conversions.cr
  tests/c/ffi_test.c
Due: format, ameba, yamlfmt

Stabilize FFI CI build flow across Crystal versions
  .github/actions/build-ffi/action.yml
Due: yamlfmt

Align FFI docs and JS format-check behavior
  README.md
  javascript/package.json
Due: none

Harden FFI linker path handling and codepoint error rescue
  .github/actions/build-ffi/action.yml
  src/termisu/ffi/conversions.cr
Due: format, ameba, yamlfmt

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
