Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt

lefthook.yml:

# Lefthook configuration for Termisu
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: task format
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: task ameba
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true

Update badges in README.md
  README.md
Due: none

Add input handling system with keyboard and mouse support
  .ameba.yml
  spec/termisu/events/key_spec.cr
  spec/termisu/events/mouse_spec.cr
  spec/termisu/input/key_spec.cr
  spec/termisu/input/modifier_spec.cr
  spec/termisu/input/parser_spec.cr
  src/termisu.cr
  src/termisu/events.cr
  src/termisu/events/key.cr
  src/termisu/events/mouse.cr
  src/termisu/events/resize.cr
  src/termisu/input.cr
  src/termisu/input/key.cr
  src/termisu/input/modifier.cr
  src/termisu/input/parser.cr
  src/termisu/terminal.cr
Due: format, ameba, yamlfmt

Refactor terminfo and buffer for performance and maintainability
  src/termisu/buffer.cr
  src/termisu/terminfo/builtin.cr
  src/termisu/terminfo/capabilities.cr
  src/termisu/terminfo/database.cr
  src/termisu/terminfo/parser.cr
  src/termisu/terminfo/tparm/operations.cr
  src/termisu/termios.cr
Due: format, ameba

fix buffer bench suite
  bench/run.cr
  bench/suites/buffer_suite.cr
Due: format, ameba

Cleanup logging
  src/termisu/buffer.cr
  src/termisu/input/parser.cr
  src/termisu/reader.cr
  src/termisu/terminal.cr
Due: format, ameba

Update readme and add new example
  README.md
  Taskfile.yml
  examples/keyboard_and_mouse.cr
Due: format, ameba, yamlfmt

Update README.md
  README.md
Due: none

Parse version from shard.yml
  shard.yml
  src/termisu.cr
  src/termisu/version.cr
Due: format, ameba, yamlfmt

Add GitHub release badge to README
  README.md
Due: none

Fix README.md
  README.md
Due: none

Make ansi8 threshold num a const
  src/termisu/color/conversions.cr
Due: format, ameba

Use String.build in read_null_terminated_string
  src/termisu/terminfo/parser.cr
Due: format, ameba

Refactor parse_sgr_mouse into SRP methods, remove ameba:disable comment
  src/termisu/input/parser.cr
Due: format, ameba

Refactor Events module to Event namespace with new Tick type
  README.md
  examples/keyboard_and_mouse.cr
  spec/termisu/event/key_spec.cr
  spec/termisu/event/mouse_spec.cr
  spec/termisu/event/resize_spec.cr
  spec/termisu/event/tick_spec.cr
  spec/termisu/input/parser_spec.cr
  src/termisu.cr
  src/termisu/event.cr
  src/termisu/event/key.cr
  src/termisu/event/mouse.cr
  src/termisu/event/resize.cr
  src/termisu/event/tick.cr
  src/termisu/events.cr
  src/termisu/events/resize.cr
  src/termisu/input/key.cr
  src/termisu/input/modifier.cr
  src/termisu/input/parser.cr
Due: format, ameba

Add event source and event loop
  spec/termisu/event/loop_spec.cr
  spec/termisu/event/source_spec.cr
  src/termisu/event/loop.cr
  src/termisu/event/source.cr
  src/termisu/log.cr
Due: format, ameba

Bump version
  shard.yml
Due: yamlfmt

Cleanup specs
  spec/spec_helper.cr
  spec/support/mock_sources.cr
  spec/support/pipe_helpers.cr
  spec/support/test_helpers.cr
  spec/termisu/event/loop_spec.cr
  spec/termisu/event/source/input_spec.cr
  spec/termisu/event/source/resize_spec.cr
  spec/termisu/event/source_spec.cr
  spec/termisu/input/parser_spec.cr
  spec/termisu/reader_spec.cr
Due: format, ameba

Add async event sources
  examples/keyboard_and_mouse.cr
  spec/termisu/event/key_spec.cr
  spec/termisu/event/mouse_spec.cr
  spec/termisu/event/source/input_spec.cr
  spec/termisu/event/source/resize_spec.cr
  spec/termisu/event/source/timer_spec.cr
  spec/termisu/input/key_spec.cr
  spec/termisu/input/modifier_spec.cr
  spec/termisu/input/parser_spec.cr
  src/termisu/event.cr
  src/termisu/event/key.cr
  src/termisu/event/mouse.cr
  src/termisu/event/source.cr
  src/termisu/event/source/input.cr
  src/termisu/event/source/resize.cr
  src/termisu/event/source/timer.cr
  src/termisu/input/key.cr
  src/termisu/input/modifier.cr
Due: format, ameba

Improve code quality and test reliability
  spec/support/mock_helpers.cr
  spec/termisu/event/loop_spec.cr
  spec/termisu/event/source/input_spec.cr
  spec/termisu/event/source/resize_spec.cr
  spec/termisu/event/source/timer_spec.cr
  spec/termisu_spec.cr
  src/termisu.cr
  src/termisu/event.cr
  src/termisu/event/loop.cr
  src/termisu/event/mouse.cr
  src/termisu/event/source/input.cr
  src/termisu/input/parser.cr
Due: format, ameba

Remove un-needed code from termisu.cr
  src/termisu.cr
Due: format, ameba

Add try_poll_event method
  spec/termisu_spec.cr
  src/termisu.cr
Due: format, ameba

Add animation example
  examples/animation.cr
Due: format, ameba

Add case insensitive letter checks
  spec/termisu/input/key_spec.cr
  src/termisu/input/key.cr
Due: format, ameba

Update docs and readme
  README.md
Due: none

V0.0.2
  shard.yml
Due: yamlfmt

Fix ameba violations
  .ameba.yml
  spec/termisu/terminal_caching_spec.cr
  src/termisu/buffer.cr
  src/termisu/color.cr
  src/termisu/input/key.cr
  src/termisu/input/parser.cr
  src/termisu/reader.cr
Due: format, ameba, yamlfmt

Fix typo in README.md
  README.md
Due: none

Update badge styles and add new badges in README
  README.md
Due: none

Fix termisu.cr docs
  src/termisu/log.cr
  src/termisu/version.cr
Due: format, ameba

Replace task-go with hace
  .github/actions/setup-crystal/action.yml
  .github/workflows/ameba.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Hacefile.yml
  Taskfile.yml
  lefthook.yml
  shard.yml
Due: yamlfmt

Cleanup gha
  .github/actions/setup-crystal/action.yml
  .github/workflows/ameba.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: yamlfmt
