Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

fix(event): remove double timeout in SystemTimer and fix Poller wait
  src/termisu/event/poller/poll.cr
  src/termisu/event/source/system_timer.cr
Due: format, ameba

chore: Fix snapshot update cmd
  e2e/package.json
Due: none

chore: Bump crystal to 1.19.1
  .github/actions/setup-crystal/action.yml
  mise.toml
  shard.yml
Due: yamlfmt

chore: Replace `Time.monotonic` with `Time.instant`
  bench/bench_runner.cr
  bench/run.cr
  spec/termisu/event/loop_spec.cr
  spec/termisu/event/poller_spec.cr
  src/termisu/event/poller/poll.cr
  src/termisu/event/source/system_timer.cr
  src/termisu/event/source/timer.cr
Due: format, ameba

fix(cirrus-ci): crystal installation for freebsd
  .cirrus.star
Due: none

Update bench/bench_runner.cr
  bench/bench_runner.cr
Due: format, ameba

Update bench/run.cr
  bench/run.cr
Due: format, ameba

chore: Keep lib backward compatible for now
  .cirrus.star
  shard.yml
  src/termisu/event/poller/poll.cr
  src/termisu/event/source/system_timer.cr
  src/termisu/event/source/timer.cr
  src/termisu/time_compat.cr
Due: format, ameba, yamlfmt

chore: Keep lib backward compatible for now
  .github/workflows/test.yml
  bench/bench_runner.cr
  spec/termisu/event/loop_spec.cr
  spec/termisu/event/poller_spec.cr
  src/termisu/event/poller/poll.cr
Due: format, ameba, yamlfmt

fix spec
  spec/termisu/event/poller_spec.cr
Due: format, ameba

add crystal matrix to e2e test
  .github/workflows/e2e.yml
Due: yamlfmt

fix llms.txt
  llms.txt
Due: none

bump version
  shard.yml
Due: yamlfmt

remove the ai stuff
  .claude/AGENTS.md
  .claude/INDEX.md
  .claude/agents/async-io-agent.md
  .claude/agents/colorist.md
  .claude/agents/crystal-tester.md
  .claude/agents/documentation-writer.md
  .claude/agents/event-system-agent.md
  .claude/agents/input-parser-dev.md
  .claude/agents/rendering-optimization-agent.md
  .claude/agents/terminologist.md
  .claude/agents/termisu-core-dev.md
  .claude/agents/tui-developer.md
  .claude/rules/commit-workflow.md
  .claude/rules/crystal-concurrency.md
  .claude/rules/crystal-conventions.md
  .claude/rules/crystal-ffi.md
  .claude/rules/crystal-patterns.md
  .claude/rules/event-loop-patterns.md
  .claude/rules/rendering-patterns.md
  .claude/rules/terminal-patterns.md
  .claude/skills/crystal-testing.md
  .claude/skills/termisu-async.md
  .claude/skills/termisu-debugging.md
  .claude/skills/termisu-input.md
  .claude/skills/termisu-performance.md
  .claude/skills/termisu-tui.md
  .claude/skills/termisu-workflow.md
  PROJECT_INDEX.json
  PROJECT_INDEX.md
  llms.txt
Due: none

remove .planning dir
  .planning/PROJECT.md
  .planning/config.json
  .planning/research/FEATURES.md
  .planning/research/INSPIRATION.md
  .planning/research/PITFALLS.md
  .planning/research/SUMMARY.md
Due: none

enforce grapheme invariants with truncation logging
  spec/termisu/cell_spec.cr
  src/termisu/buffer.cr
  src/termisu/cell.cr
Due: format, ameba

add Unicode width engine and control-char-safe cursor tracking for render batches
  spec/termisu/buffer_spec.cr
  spec/termisu/unicode_width_spec.cr
  src/termisu/buffer.cr
  src/termisu/render_state.cr
  src/termisu/unicode_width.cr
Due: format, ameba

implement invariant-safe wide-character writes with overlap clearing and width 0 char rejection
  spec/termisu/buffer_spec.cr
  spec/termisu/unicode_width_spec.cr
  src/termisu/buffer.cr
  src/termisu/unicode_width.cr
Due: format, ameba

add wide-character-aware diff batching with continuation skipping and column-based cursor advancement
  spec/termisu/buffer_spec.cr
  src/termisu/buffer.cr
Due: format, ameba

Align VS16 grapheme width with Unicode Emoji property and remove the unused wide-cell buffer helper
  spec/termisu/unicode_width_spec.cr
  src/termisu/buffer.cr
  src/termisu/unicode_width.cr
Due: format, ameba

address @coderabbitai review
  spec/termisu/unicode_width_spec.cr
  src/termisu/unicode_width.cr
Due: format, ameba

Fix Unicode width handling for keycap emoji and bidi format controls
  spec/termisu/unicode_width_spec.cr
  src/termisu/unicode_width.cr
Due: format, ameba

MAESTRO: fix critical safety bugs in terminal, backend, poller, reader, and version
  Auto Run Docs/Initiation/Phase-01-Critical-Safety-Fixes.md
  src/termisu/event/poller/poll.cr
  src/termisu/reader.cr
  src/termisu/terminal.cr
  src/termisu/terminal/backend.cr
  src/termisu/version.cr
Due: format, ameba

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
