Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

Resolve SonarCloud maintainability and reliability findings
  docs-web/static/css/style.css
  docs-web/static/reference/config/index.html
  docs-web/templates/footer.html
  docs-web/templates/header.html
  docs-web/templates/page.html
  docs-web/templates/section.html
  e2e/tests/animation.test.ts
  e2e/tests/colors.test.ts
  javascript/src/attribute.ts
  javascript/src/index.ts
  javascript/src/native.ts
  javascript/src/structs.ts
  javascript/src/termisu.ts
  javascript/src/types.ts
Due: e2e-lint, e2e-format

Force node-pty prebuilt override for Node 25 CI installs
  bun.lock
  package.json
Due: none

Pin tui-test to working digest for E2E typecheck and runtime
  bun.lock
  e2e/package.json
  package.json
Due: none

Move @termisu/core to javascript/core workspace
  README.md
  bun.lock
  javascript/core/.gitignore
  javascript/core/LICENSE
  javascript/core/README.md
  javascript/core/biome.json
  javascript/core/examples/basic.ts
  javascript/core/package.json
  javascript/core/src/attribute.ts
  javascript/core/src/color.ts
  javascript/core/src/constants.ts
  javascript/core/src/errors.ts
  javascript/core/src/index.ts
  javascript/core/src/native.ts
  javascript/core/src/structs.ts
  javascript/core/src/termisu.ts
  javascript/core/src/types.ts
  javascript/core/tests/attribute.test.ts
  javascript/core/tests/color.test.ts
  javascript/core/tests/constants.test.ts
  javascript/core/tests/errors.test.ts
  javascript/core/tests/ffi.test.ts
  javascript/core/tests/index.test.ts
  javascript/core/tests/native.test.ts
  javascript/core/tests/structs.test.ts
  javascript/core/tests/termisu.test.ts
  javascript/core/tsconfig.json
  package.json
Due: none

add publish core action
  .github/workflows/publish-core.yml
  javascript/core/package.json
Due: yamlfmt

Revise stability warning in README
  README.md
Due: none

fix buffer resizing on terminal resize events
  spec/termisu_spec.cr
  src/termisu.cr
Due: format, ameba

move terminal resize handling into the resize event source
  spec/termisu/event/source/resize_spec.cr
  spec/termisu_spec.cr
  src/termisu.cr
  src/termisu/event/source/resize.cr
Due: format, ameba

cleanup spec
  spec/termisu_spec.cr
Due: format, ameba

add unicode support
  spec/termisu/buffer_spec.cr
  spec/termisu/cell_spec.cr
  src/termisu.cr
  src/termisu/buffer.cr
  src/termisu/cell.cr
  src/termisu/terminal.cr
Due: format, ameba

update Cell docs
  src/termisu/cell.cr
Due: format, ameba

enhance buffer_spec
  spec/termisu/buffer_spec.cr
Due: format, ameba

fix debug log
  src/termisu/cell.cr
Due: format, ameba

fix Cell.default performance
  src/termisu/buffer.cr
  src/termisu/cell.cr
Due: format, ameba

fix cell graphemes
  src/termisu/buffer.cr
  src/termisu/cell.cr
Due: format, ameba

fix control char check
  src/termisu/buffer.cr
Due: format, ameba

arch stuff
  architecture/README.md
  architecture/core-architecture.md
  architecture/js-runtime-ffi-architecture.md
  javascript/README.md
Due: none

refactor render state and resize source cleanup
  src/termisu/event/source/resize.cr
  src/termisu/render_state.cr
Due: format, ameba

refactor: reuse parameterized terminfo capability processing
  src/termisu/terminfo.cr
Due: format, ameba

remove unused kitty keyboard query and POLLPRI constant
  src/termisu/event/poller/poll.cr
  src/termisu/terminal.cr
Due: format, ameba

update .gitignore
  .gitignore
Due: none

refactor: share timer backpressure helpers
  src/termisu/event/source.cr
  src/termisu/event/source/system_timer.cr
  src/termisu/event/source/timer.cr
Due: format, ameba

docs: clarify raw mode tracking semantics
  src/termisu/event/mode_change.cr
  src/termisu/terminal/backend.cr
Due: format, ameba

remove UnicodeWidth.string_width helper
  spec/termisu/unicode_width_spec.cr
  src/termisu/unicode_width.cr
Due: format, ameba

refactor: share modifier bitmask decoding helper
  src/termisu/input/modifier.cr
Due: format, ameba

refactor: flatten terminfo database search paths
  src/termisu/terminfo/database.cr
Due: format, ameba

remove unused Color::Name enum
  src/termisu/color.cr
Due: format, ameba

refactor: deduplicate buffer row rendering
  src/termisu/buffer.cr
Due: format, ameba

refactor: share reader timeout bookkeeping
  src/termisu/reader.cr
Due: format, ameba

refactor shared key and mouse event helpers
  src/termisu/event/key.cr
  src/termisu/event/mouse.cr
Due: format, ameba

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
