Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt, e2e-lint, e2e-format

format:
  run: bin/hace format
  stage_fixed: true

ameba:
  run: bin/hace ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

e2e-lint:
  run: bin/hace e2e:lint

e2e-format:
  run: bin/hace e2e:format
  stage_fixed: true

Exclude shared spec files from ameba spec file name check
  .ameba.yml
Due: yamlfmt

Add SystemTimer with kernel-level timing for precise animations
  examples/animation.cr
  spec/termisu/event/source/system_timer_spec.cr
  src/termisu.cr
  src/termisu/event/poller/poll.cr
  src/termisu/event/source/system_timer.cr
  src/termisu/event/tick.cr
Due: format, ameba

Simplify timer_interval methods using union type
  src/termisu.cr
Due: format, ameba

Checks that missed_ticks is a valid UInt64 instead of asserting it equals 0
  spec/termisu/event/source/system_timer_spec.cr
Due: format, ameba

Update README.md
  README.md
Due: none

Fix animation e2e test
  e2e/tests/animation.test.ts
Due: e2e-lint, e2e-format

Bump version to 0.3.0
  shard.yml
Due: yamlfmt

Add docs for llms and humans
  PROJECT_INDEX.json
  PROJECT_INDEX.md
  llms.txt
Due: none

docs: add Claude Code meta-framework index
  .claude/AGENTS.md
  .claude/INDEX.md
  .claude/agents/async-io-agent.md
  .claude/agents/colorist.md
  .claude/agents/crystal-tester.md
  .claude/agents/documentation-writer.md
  .claude/agents/event-system-agent.md
  .claude/agents/input-parser-dev.md
  .claude/agents/rendering-optimization-agent.md
  .claude/agents/terminologist.md
  .claude/agents/termisu-core-dev.md
  .claude/agents/tui-developer.md
  .claude/rules/commit-workflow.md
  .claude/rules/crystal-concurrency.md
  .claude/rules/crystal-conventions.md
  .claude/rules/crystal-ffi.md
  .claude/rules/crystal-patterns.md
  .claude/rules/event-loop-patterns.md
  .claude/rules/rendering-patterns.md
  .claude/rules/terminal-patterns.md
  .claude/skills/crystal-testing.md
  .claude/skills/termisu-async.md
  .claude/skills/termisu-debugging.md
  .claude/skills/termisu-input.md
  .claude/skills/termisu-performance.md
  .claude/skills/termisu-tui.md
  .claude/skills/termisu-workflow.md
  .gitignore
  CLAUDE.md
Due: none

fix file ext
  CLAUDE.md
Due: none

Update documentation link to crystaldocs
  README.md
Due: none

Add planning docs
  .planning/PROJECT.md
  .planning/config.json
  .planning/research/FEATURES.md
  .planning/research/INSPIRATION.md
  .planning/research/PITFALLS.md
  .planning/research/SUMMARY.md
Due: none

chore: Update .planning/PROJECT.md
  .planning/PROJECT.md
Due: none

chore: Update .planning/research/SUMMARY.md
  .planning/research/SUMMARY.md
Due: none

chore: Update .planning/research/PITFALLS.md
  .planning/research/PITFALLS.md
Due: none

chore: Update .planning/research/FEATURES.md
  .planning/research/FEATURES.md
Due: none

fix(event): remove double timeout in SystemTimer and fix Poller wait
  src/termisu/event/poller/poll.cr
  src/termisu/event/source/system_timer.cr
Due: format, ameba

fix(kqueue): add nil overload to wait_internal for blocking wait
  src/termisu/event/poller/kqueue.cr
Due: format, ameba

Update src/termisu/event/poller/kqueue.cr
  src/termisu/event/poller/kqueue.cr
Due: format, ameba

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
  e2e-lint: any of: e2e/**/*.{ts,tsx,js,json}
  e2e-format: any of: e2e/**/*.{ts,tsx,js,json}
