Repository omarluq/termisu: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt

lefthook.yml:

# Lefthook configuration for Termisu
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: bin/hace format
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/hace ameba
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true

Fix TUI redraw after mode switches by adding buffer invalidation for all non-raw modes
  spec/termisu/buffer_spec.cr
  src/termisu.cr
  src/termisu/buffer.cr
  src/termisu/terminal.cr
Due: format, ameba

Added unbuffer to spec hace task for TTY test support
  Hacefile.yml
Due: yamlfmt

Add DEC Mode 2026 synchronized updates with single-flush optimization
  README.md
  spec/support/capture_backend.cr
  spec/support/test_terminal.cr
  spec/termisu/terminal/sync_update_spec.cr
  spec/termisu/terminal_spec.cr
  src/termisu.cr
  src/termisu/buffer.cr
  src/termisu/terminal.cr
Due: format, ameba

Clean up spec support with one class per file and consistent naming
  spec/support/capture_backend.cr
  spec/support/capture_renderer.cr
  spec/support/capture_terminal.cr
  spec/support/mock_renderer.cr
  spec/support/mock_source.cr
  spec/support/slow_source.cr
  spec/termisu/terminal/sync_update_spec.cr
  spec/termisu/terminal_caching_spec.cr
Due: format, ameba

Add mise.toml file with cr and ts versions (latest)
  mise.toml
Due: none

Add E2E testing infrastructure with tui-test
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  .gitignore
  Hacefile.yml
  e2e/.gitignore
  e2e/biome.json
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/tests/__snapshots__/.keep
  e2e/tests/animation.test.ts
  e2e/tests/colors.test.ts
  e2e/tests/keyboard.test.ts
  e2e/tests/showcase.test.ts
  e2e/tests/simple.test.ts
  e2e/tsconfig.json
  e2e/tui-test.config.ts
  lefthook.yml
Due: yamlfmt

Add more caching to gha
  .github/workflows/ameba.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: yamlfmt

Add more e2e test cases
  e2e/tests/animation.test.ts
  e2e/tests/colors.test.ts
  e2e/tests/keyboard.test.ts
  e2e/tests/showcase.test.ts
  e2e/tests/simple.test.ts
Due: none

Update biome config
  e2e/biome.json
Due: none

Fix node-pty native module resolution for pnpm 10
  e2e/.npmrc
  e2e/package.json
Due: none

Remove pnpm checks from actual e2e wf since we have a separate wf for those
  .github/workflows/e2e.yml
Due: yamlfmt

Fix flaky animation test by polling for frame changes instead of fixed timeout
  e2e/tests/animation.test.ts
Due: none

Bump version to 0.2.0
  shard.yml
Due: yamlfmt

Removed 'modes.cr' example from the README.
  README.md
Due: none

Nest MouseButton and MouseProtocol inside Mouse struct as Button and Protocol
  README.md
  spec/termisu/event/mouse_spec.cr
  spec/termisu/input/parser_spec.cr
  src/termisu/event/mouse.cr
  src/termisu/input/parser.cr
Due: format, ameba

Bump version to 0.2.1
  shard.yml
Due: yamlfmt

Use pre-built kcov v43 binary instead of building from source
  .github/workflows/coverage.yml
Due: yamlfmt

Pass --ignore-scripts to pnpm install in e2e-lint to skip native modules compilation
  .github/workflows/e2e-lint.yml
Due: yamlfmt

Compile binaries once per platfrom in e2e
  .github/workflows/e2e.yml
Due: yamlfmt

Refactor CI/CD with composite actions
  .github/actions/build-e2e-binaries/action.yml
  .github/actions/setup-crystal/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ameba.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
Due: yamlfmt

Fix coverage wf
  .github/workflows/coverage.yml
Due: yamlfmt

Build kcov from master branch
  .github/workflows/coverage.yml
Due: yamlfmt

Remove gh actions
  .github/actions/build-e2e-binaries/action.yml
  .github/actions/setup-crystal/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ameba.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e-lint.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
Due: yamlfmt

Add ciruss ci simple specs task
  .cirrus.yml
Due: yamlfmt

Install expect to unbeffer tests
  .cirrus.yml
Due: yamlfmt
